option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    PORT: "8080"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /public: public
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:command:
    BatchSize: 30
    BatchSizeType: Percentage
  aws:elasticbeanstalk:environment:
    LoadBalancerType: classic
  aws:elb:healthcheck:
    HealthyThreshold: 3
    Interval: 30
    Target: HTTP:80/health
    Timeout: 5
    UnhealthyThreshold: 5
